{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="container">
    <div id="lab8">

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/lab_8.js' %}"></script>
{% endblock %}
