.cover {
    margin-top: 10px;
    margin-bottom: 20px;
}

.full-name {
    font-size: 30px;
}

.feed {
    font-size: 17px;
}

.postStatus {
    margin: 5px;
}

.logout {
    margin: 5px;
}

.login {
    font-size: 100px;
    margin-top: 100px;
    padding: 10px;
}

.post {
    padding: 5px;
}
