{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                         <!-- on js -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list-json' %}",
                success: function (response) {
                    html = '';

                    if(response.results.length===0){
                        html += '<div class="alert alert-danger text-center">' +
                                    '<strong>Opps!</strong> Tidak ada mahasiswa' +
                                '</div>'
                    } else {
                        response.results.forEach(function(instance){
                        html += '<a class="list-group-item clearfix">' +
                                instance.friend_name + ' (' + instance.npm  + ')' +
                                '<span class="btn btn-xs btn-default" onClick="deleteFriend(' + instance.id + ')">' +
                                        'Hapus sebagai teman' +
                                    '</span>' +
                                '</a>'
                        });
                    }
                    $("#friend-list").append(html);
                },
                error: function(error){
                    alert('yang bener woi..')
                }
            });
        });

        var deleteFriend = function(friend_id){
            location.replace("/lab-7/delete-friend/" + friend_id + "/");
        };
    </script>
{% endblock %}
